fastapi
uvicorn
langgraph
langchain
psycopg2-binary
mcp
python-dotenv
requests
httpx
numpy
pgvector
langchain-mcp-adapters
faster-whisper
edge-tts
python-multipart
torch
torchvision
transformers
accelerate
librosa
av
pillow
langchain-huggingface
sentence-transformers
